/* For Instagram feeds */

.iffe-feed-main .iffe-feed-item {
	position: relative;
	line-height: 0;
}

.iffe-feed-main .iffe-feed-item a {
	display: inline-block;
	width: 100%;
	line-height: 0;
	position: relative;
}

.iffe-feed-main .iffe-feed-item a:before {
	content: "";
	background: rgba(0,0,0,0.5);
	position: absolute;
	top:0;
	left: 0;
	opacity: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
}

.iffe-feed-main .iffe-feed-item .iffe-feed-likes-comments {
	width: 100%;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
}

.iffe-feed-main .iffe-feed-item .iffe-feed-likes-comments span {
	display: inline-block;
	position: relative;
	margin:0px 15px;
	z-index: 5;
	color: #fff;
}

.iffe-feed-main .iffe-feed-item:hover a:before,
.iffe-feed-main .iffe-feed-item:hover .iffe-feed-likes-comments {
	opacity: 1;
}

.iffe-feed-main .iffe-feed-item a:before,
.iffe-feed-main .iffe-feed-item:hover a:before,
.iffe-feed-main .iffe-feed-item:hover .iffe-feed-likes-comments,
.iffe-feed-main .iffe-feed-item .iffe-feed-likes-comments {
	-webkit-transition:0.4s ease-in-out;
    -moz-transition: 0.4s ease-in-out;
    -o-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out;
}
